
.sec1{
    background-color: rgb(255, 255, 255);
}
.sec2{
    text-align: center;
    background-color: white;
    padding: 20px;
    
}
.sec3{
    
    background-color: white;
}

.sec1, .sec3{
    padding: 20px;
    text-align: center;
}
.container{
    box-shadow: 10px;
}