<div fxLayout="row wrap" class="container">
    <div fxFlex="30" class="sec1" fxLayoutAlign="center">
    </div>
    <div fxFlex="70" class="sec2">
        <button mat-button>Home</button>
        <button mat-button>About Us</button>
        <button mat-button>Services</button>
        <button mat-button>Portfolio</button>
        <button mat-button>Team</button>
        <button mat-button>DropDown</button>
        <button mat-button>Contact</button>
        <button mat-raised-button color="accent">Get Started</button>

    </div>
</div>